
@model TheatreViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Detail for Theatre</h1>

<div class="container">
    <div>
        
    </div>
    
</div>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}